<% provide(:title, t("users.new.title")) %>
<% provide(:button_text, t("users.new.create_account")) %>
<h1><%= t("users.new.signup") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
