<%= link_to gravatar_for(current_user, size: Settings.userinfo.size), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("shared.userinfo.view"), current_user %></span>
<span><%= pluralize current_user.microposts.count,I18n.t("shared.usefinfo.micropost") %></span>
