<footer class="footer">
  <small>
    <%= link_to t("layouts.footer.rbor"), "https://www.railstutorial.org/" %>
    <%= link_to t("layouts.footer.by"), "https://www.railstutorial.org/" %>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to t("layouts.footer.new"), "https://www.railstutorial.org/" %>
      </li>
    </ul>
  </nav>
</footer>
